body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;    /* AJUSTE EM LINHA */
    justify-content: space-around;    /* HORIZONTAL */
    justify-items: center;
    align-content: center;  /* VERTICAL */
    align-items: center;
    padding: 40ph;
    background-image: linear-gradient(45deg, blue, aqua);
    animation: gradient 6s ease infinite;
    background-size: 200% 200%;
}
.yellowbox{
    width: 1000px;
    height: 600px;
    content: "";
    background-image: linear-gradient(45deg, rgb(243, 115, 42), rgb(255, 230, 0));
    animation: gradient 6s ease infinite;
    background-size: 100% 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;    /* AJUSTE EM LINHA */
    justify-content: space-around;    /* HORIZONTAL */
    justify-items: center;
    align-content: center;  /* VERTICAL */
    align-items: center;
    padding: 20ph;
}
.yellowbox:hover{
    box-shadow: 4px 4px 10px #feffff79;
}
.redbox{
    width: 80px;
    height: 200px;
    content: "";
    background-image: linear-gradient(45deg, rgb(224, 26, 26), rgb(238, 55, 125));
    animation: gradient 6s ease infinite;
    background-size: 100% 100%;
    border-radius: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}